// Custom styles.
.site-author-image {
    display: block;
    margin: 0 auto;
    padding: $site-author-image-padding;
    max-width: $site-author-image-width;
    height: $site-author-image-height;
    border: $site-author-image-border-width solid $site-author-image-border-color;
    
    /* 头像圆形 */
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    box-shadow: inset 0 -1px 0 333sf;
}

body{
    // background:url(https://images8.alphacoders.com/929/929202.jpg);
    // background:url(/image/posts/4.jpg);
    background:url(/image/posts/3.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}
// body::before {
//     background-image: url(/image/posts/1.jpg);
//     background-repeat: no-repeat;jpg
//     background-size: cover;
//     background-position: 50% 50%;
//     content: " ";
//     position: fixed;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     z-index: -2;
// }

.post {
    margin-top: 60px;
    // margin-bottom: 60px;
    padding: 10px 40px;
    -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
    -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
   }

// 鼠标样式
// * {
//     cursor: url("http://om8u46rmb.bkt.clouddn.com/sword2.ico"),auto!important
// }
// :active {
//     cursor: url("http://om8u46rmb.bkt.clouddn.com/sword1.ico"),auto!important
// }
