.category-all-page {
  .category-all-title {
    text-align: center;
    color: #EE7600;
    font-size: 16px;
    font-weight: 500;
  }

  .category-all {
    padding: 40px;
  }

  .category-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .category-list-item {
    margin: 15px 10px;
  }

  .category-list-count {
    // color: $grey;
    color: #43CD80;
    font-size: 18px;
    margin-left: 18px;
    &:before {
      display: inline;
      content: " (";
    }
    &:after {
      display: inline;
      content: ") ";
    }
  }

  a.category-list-link {
    background: #97dffd;
    padding: 5px 8px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
  }
  a.category-list-link:hover {
    background: #6495ED;
  }

  .category-list-child {
    padding-left: 10px;
  }
}
